<!-- Section: Design Block -->
<!-- <app-barra></app-barra> -->
<section class="vh-100" style="background-color: #191919">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Ingresa aquí</h2>
            <form [formGroup]="formValue">
              <!--  <div
               *ngIf="mensajeError"
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <h5>{{ mensajeError }}</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                  (click)="cerrarAlerta()"
                ></button>
              </div> -->

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  formControlName="email"
                  required
                />
                <label class="form-label" for="form3Example3">Email </label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  formControlName="contrasena"
                />
                <label class="form-label" for="form3Example4">Contraseña</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example33"
                  checked
                />
                <label class="form-check-label" for="form2Example33">
                  Suscribete a nuestro boletín mensual
                </label>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-dark btn-block mb-4"
                (click)="login()"
              >
                Ingresar
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="https://cdn.pixabay.com/photo/2017/11/16/13/32/tool-2954611_960_720.jpg"
          class="w-100 rounded-4 shadow-4"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<section class="vh-100" style="background-color: #191919"></section>
