<app-barra></app-barra>

<div class="container mt-5 bg-transparent pb-2 contenedor-ventana">

  

    <div class="text-center fs-1 text-light my-5 ">
      Prográmate con nuestros especialistas
    </div>

  <form [formGroup]="formValue">

    <div class="container mt-3">
      <div class="fs-3 text-light my-2">
        Día y fecha
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-12 col-md-4">
          <!-- Fecha -->
          <div class="form-floating mb-3">
            <input type="datetime-local" class="form-control" id="floatingInput" placeholder="Tus nombres" style="width: calc(100%);" formControlName="fechaCaptura">
            <label for="floatingInput text-light">Fecha de visita</label>
          </div>
      </div>
    </div>
    
    <div class="fs-3 text-light my-2">
      Datos Generales
    </div>

    <div class="row pb-5">
      <div class="col-12 col-md-6">
          <!-- Nombres -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Tus nombres" style="width: calc(100%);" formControlName = "nombresCaptura">
            <label for="floatingInput text-light">Nombres</label>
          </div>
      </div>
  
      <div class="col-12 col-md-6">
        <!-- Apellidos -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Tus apellidos" style="width: calc(100%);" formControlName = "apellidosCaptura">
          <label for="floatingInput text-light">Apellidos</label>
        </div>
      </div>
  
      <div class="col-12 col-md-6">
          <!-- Placa -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: calc(100%);" formControlName = "placaCaptura">
            <label for="floatingInput text-light">Placa</label>
          </div>
      </div>
      
      <div class="col-12 col-md-6">
          <!-- Servicio -->
          <div class="form-floating  mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName = "servicioCaptura">
              <option selected>Selecciona tu servicio</option>
              <option *ngFor="let item of servicioCaptura" value="{{item}}">{{item}}</option>
            </select>
            <label for="floatingSelect">Servicio</label>
          </div>
      </div>
  
      <div class="col-12 col-md-6">
        <!-- Correo -->
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: calc(100%);" formControlName = "correoCaptura">
          <label for="floatingInput text-light">Correo</label>
        </div>
    </div>
  
      <div class="col-12 col-md-6">
        <!-- Telefono -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: calc(100%);" formControlName = "telefonoCaptura">
          <label for="floatingInput text-light">Teléfono</label>
        </div>
      </div>
  
  
          <!-- Comentario -->
          <div class="form-floating">
            <textarea class="form-control" placeholder="Dejanos tus comentarios" id="floatingTextarea2" style="height: 100px" formControlName = "comentarioCaptura"></textarea>
            <label for="floatingTextarea2">Comentarios</label>
          </div>
  
          <div>
            <!-- Btn -->
          <button (click)="crearAgendamiento()" type="submit" class="btn btn-warning my-3" style="width: calc(100%);">Programar Cita</button>
          </div>
  
    </div>

  </form>

</div>




<div class="text-center fs-1 text-light mt-1 ">
  Tus Servicios
</div>


<div class="container my-5 pb-5 contenedor-ventana">
  <table class="table table-hover border border-warning text-center">
    <thead>
      <tr>
        <th class="bg-warning" scope="col">#</th>
        <th class="bg-warning" scope="col">Fecha Visita</th>
        <th class="bg-warning" scope="col">Nombre</th>
        <th class="bg-warning" scope="col">Apellido</th>
        <th class="bg-warning" scope="col">Placa</th>
        <th class="bg-warning" scope="col">Servicio</th>
        <th class="bg-warning" scope="col">Acción</th>
      </tr>
    </thead>
    <tbody class="text-light bg-secondary text-center" *ngFor="let item of dataDetalle; let index = index">
      <tr>

        <td>{{index+1}}</td>
        <td>{{item.fechaSolicitud}}</td>
        <td>{{item.nombres}}</td>
        <td>{{item.apellidos}}</td>
        <td>{{item.placa}}</td>
        <td>{{item.servicio}}</td>
        
        <td>
        <button type="button" class="btn btn-outline-danger mx-2" data-bs-toggle="modal" data-bs-target="#modalEliminar"><i class="bi bi-trash3"></i></button>
        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modalActualizar" (click)="editar(item)"><i class="bi bi-wrench-adjustable"></i></button>
      </td>

      </tr>

      <!-- Modal Eliminar -->
      <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar registro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
              <h1>¿Realmente desea eliminar el registro?</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"data-bs-dismiss="modal" >Close</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar(item._id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Actualización -->
      <div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-warning" id="exampleModalLabel">Actualizar Agendamiento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
            <!-- Actualizar Agendamiento  -->
              <form [formGroup]="formValue">
                <div class="row text-dark">
    
                  <div class="col-md-6">
                    <label>fechaSolicitud</label>
                    <input type="datetime-local" class="form-control" formControlName="fechaCaptura">
                  </div>

                  <div class="col-md-6">
                    <label>Nombres</label>
                    <input type="text" class="form-control" formControlName="nombresCaptura">
                  </div>
    
                  <div class="col-md-6">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" formControlName="apellidosCaptura">
                  </div>
    
                  <div class="col-md-6">
                    <label>Placa</label>
                    <input type="text" class="form-control" formControlName="placaCaptura">
                  </div>

                  <div class="col-md-6">
                    <label>Servicio</label>
                    <select type="form-select" class="form-control" formControlName="servicioCaptura">
                      <option selected>Selecciona tu servicio</option>
                      <option *ngFor="let item of servicioCaptura" value="{{item}}">{{item}}</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label>Correo</label>
                    <input type="text" class="form-control" formControlName="correoCaptura">
                  </div>



                  <div class="col-md-6">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" formControlName="telefonoCaptura">
                  </div>

                  <div class="col-md-6">
                    <label>Comentario</label>
                    <input type="floatingTextarea2" class="form-control" formControlName="comentarioCaptura">
                  </div>

                </div>
    
                <!-- <button type="submit" class="btn btn-outline-info my-3" (click)="CrearJefe()"> <i class="bi bi-person-plus-fill"></i> Crear jefe</button> -->
            </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="actualizar()">Actualizar</button>
            </div>
          </div>
        </div>
      </div>

    </tbody>
  </table>
</div>