<app-barra></app-barra>
<section class="vh-100" style="background-color: #191919">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 my-2" *ngFor="let item of dataProductos">
        <div class="card bg-dark bg-opacity-25" style="width: 18rem">
          <img
            [src]="item.imagen"
            width="48"
            height="48"
            class="rounded-circle mr-2"
            alt="Avatar"
          />

          <div class="card-body">
            <h5 class="card-title text-warning">{{ item.nombre }}</h5>
            <p class="card-text text-light">{{ item.descripcion }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark bg-opacity-25 text-light">
              Frabricado por: {{ item.marca }}
            </li>
            <li class="list-group-item bg-dark bg-opacity-25 text-light">
              Por tan solo: {{ item.precio_venta }}
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
